.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.example-card {
  max-width: 600px;
}

.titleCard{
  padding-bottom: 20px;
}

.titleContent{
  font-size: medium;
}

.contentSearch{
  margin-bottom: 10px;
}

.itemNews{
  margin-bottom: 10px;
}


