.navbar{
  justify-content: space-between;
  padding: 0 20px;
}

span{
  padding-right: 1rem;
}

a {
  color: white;
  text-decoration: unset;
}
// .icon-fb {
//   background-image: url("/src/assets/icon/facebook.png");
// }

// .icon-insta {
//   background-image: url("/src/assets/icon/instagram.png");
// }

// .icon-twitt {
//   background-image: url("/src/assets/icon/twitter.png");
// }
